@using Comp1640.ViewModels
@model List<Comp1640.ViewModels.ListIdeaVM>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/main.css" />

<!-- create post -->
<div class="bg-white p-3 mt-3 rounded border shadow">
    <!-- avatar -->
    <div class="d-flex" type="button">
        <div class="p-1">
            <img src="https://source.unsplash.com/collection/happy-people"
                 alt="avatar"
                 class="rounded-circle me-2"
                 style="width: 36px; height: 36px; object-fit: cover" />
        </div>
        <input type="text"
               class="form-control rounded-pill border-0 bg-gray pointer"
               placeholder="What's on your mind, John?"
               style="height: 44px;" data-bs-toggle="modal"
               data-bs-target="#createModalIdea" />
    </div>
    <!-- create modal -->
    @await Html.PartialAsync("_CreateIdea", new Idea())
    <a asp-action="PageSubmit" asp-route-sortOrder="@ViewData["ViewSortParm"]">Sort</a>
    <a asp-action="PageSubmit" asp-route-sortOrder="@ViewData["LikeSortParm"]">Sort Like</a>
    <hr />
</div>

@for (var i = 0; i < Model.Count; i++)
{
    <!-- p 1 -->
    <div class="bg-white p-4 rounded shadow mt-3" id="accordionExampleDetail">
        <div class="d-flex justify-content-between">
            <!-- avatar -->
            <div class="d-flex">
                <img src="https://source.unsplash.com/collection/happy-people"
                 alt="avatar"
                 class="rounded-circle me-2"
                 style="width: 48px; height: 48px; object-fit: cover" />
                <div>
                    <p class="m-0 fw-bold">&nbsp;@Model[i].Idea.User.FullName</p>
                    <span class="text-muted fs-7">&nbsp;@Model[i].Idea.CreatedDate</span>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <p class="m-0 fw-bold">&nbsp;Category: @Model[i].Idea.Category.Name</p>
                    <span class="text-muted fs-7">&nbsp;Topic: @Model[i].Idea.Topic.Name (@Model[i].Idea.Topic.ClosureDate - @Model[i].Idea.Topic.FinalClosureDate)</span>
                </div>
            </div>
            <!-- edit -->
            <i class="fas fa-ellipsis-h"
           type="button"
           id="post1Menu"
           data-bs-toggle="dropdown"
           aria-expanded="false"></i>
            <!-- edit menu -->
            <ul class="dropdown-menu border-0 shadow"
            aria-labelledby="post1Menu">
                <li class="d-flex align-items-center">
                    <a class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                   data-toggle="modal"
                   data-target="#updateModal-@Model[i].Idea.Id">
                        Edit Post
                    </a>
                </li>
                <li class="d-flex align-items-center" >
                    <div class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                     data-toggle="modal"
                     data-target="#DeleteModal-@Model[i].Idea.Id">
                        Delete Post
                    </div>
                </li>
            </ul>
            @await Html.PartialAsync("_UpdateIdea", Model[i].Idea)
            @await Html.PartialAsync("_DeleteConfirm", Model[i].Idea)

        </div>
        <!-- post content -->
        <div class="mt-3 accordion-collapse collapse" id="collapsePostDetail-@Model[i].Idea.Id" data-bs-parent="#accordionExampleDetail">
            <!-- content -->
            <div>
                <p>
                    @Model[i].Idea.Content
                </p>

                @if (Model[i].Idea.FilePath != null)
                {
                    <embed src="@Model[i].Idea.FilePath" alt="post image"
                           class="img-fluid rounded" style="width: 65%;
                                                            height:600px;
                                                            position: relative;
                                                            left: 50%;
                                                            transform: translateX(-50%);" />
                }
                    
                <a class="btn btn-success mt-5" asp-area="QA_Coordinator" asp-controller="Ideas" asp-action="DownloadFile" asp-route-id="@Model[i].Idea.Id" target="_self">Download File</a>
            </div>
        
            <!-- likes & comments -->
            <div class="post__comment mt-3 position-relative">
                <!-- likes -->
                <div class="d-flex align-items-center top-0 start-0 position-absolute"
                 style="height: 50px; z-index: 5">
                    <div class="me-2">
                        <i class="text-primary fas fa-thumbs-up"></i>
                        <i class="text-danger fab fa-gratipay"></i>
                        <i class="text-warning fas fa-grin-squint"></i>
                    </div>
                    <p class="m-0 text-muted fs-7">Phu, Tuan, and 3 others</p>
                </div>
                <!-- comments start-->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-0">
                        <!-- comment collapse -->
                        <h5 class="accordion-header" id="headingTwo">
                            <div class="accordion-button collapsed pointer d-flex justify-content-end"
                             data-bs-toggle="collapse"
                             data-bs-target="#collapsePost1"
                             aria-expanded="false"
                             aria-controls="collapsePost1">
                                <p class="m-0">@Model[i].ListComment.Count() Comments</p>
                            </div>
                        </h5>
                        <hr />
                        <!-- comment & like bar -->
                        <div class="d-flex justify-content-around">
                            <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1" onclick=likeIdea(@Model[i].Idea.Id)>
                                @if (Model[i].React == null)
                                {

                                    <i class="fas fa-thumbs-up me-3" id="likeI-@Model[i].Idea.Id" style="color:none;"></i>

                                    <p class="m-0" id="like-@Model[i].Idea.Id" style="color:none;">Like</p>
                                }else{
                                    @if (Model[i].React.Like)
                                    {
                                        <i class="fas fa-thumbs-up me-3" id="likeI-@Model[i].Idea.Id" style="color:blue;"></i>

                                        <p class="m-0" id="like-@Model[i].Idea.Id" style="color:blue;">Like</p>
                                    }
                                    @if (!Model[i].React.Like)
                                    {
                                        <i class="fas fa-thumbs-up me-3" id="likeI-@Model[i].Idea.Id" style="color:none;"></i>

                                        <p class="m-0" id="like-@Model[i].Idea.Id" style="color:none;">Like</p>
                                    }
                                }
                                
                            </div>
                            <!-- comment -->
                            <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             data-bs-toggle="collapse"
                             data-bs-target="#collapsePost1-@Model[i].Idea.Id"
                             aria-expanded="false"
                             aria-controls="collapsePost1">
                                <i class="fa fa-comments fa-fw fa-lg m-r-3"></i>
                                &nbsp;
                                <p class="m-0">Comment</p>
                            </div>
                        </div>
                        <!-- comment expand -->
                        <div id="collapsePost1-@Model[i].Idea.Id"
                         class="accordion-collapse collapse"
                         aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                            <hr />
                            <div class="accordion-body">
                                @await Html.PartialAsync("_ChildComment", Model[i].ListComment)
                                @await Html.PartialAsync("_ChildCreateComment", Model[i].Comment)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
        <div class="show-more" data-bs-toggle="collapse"
         data-bs-target="#collapsePostDetail-@Model[i].Idea.Id"
         aria-expanded="false"
         aria-controls="collapsePostDetail" onclick=recordView(@Model[i].Idea.Id)>
            <div id="showM-@Model[i].Idea.Id" style="display:block" onclick="showML(@Model[i].Idea.Id)">Show More</div>
            <div id="showL-@Model[i].Idea.Id" style="display:none" onclick="showML(@Model[i].Idea.Id)">Show Less</div>
        </div>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script src="./js/main.js"></script>

<script>

    function showML(id) {
        var showM = document.getElementById("showM" + "-" + id);
        var showL = document.getElementById("showL" + "-" + id);
        if (showM.style.display == "block") {
            showL.style.display = "block";
            showM.style.display = "none";
        } else {
            showL.style.display = "none";
            showM.style.display = "block";
        }

    }

    function likeIdea(id) {
        var likeI = document.getElementById("likeI" + "-" + id);
        var like = document.getElementById("like" + "-" + id);
        if (likeI.style.color == "blue") {
            likeI.style.color = "none"
            like.style.color = "none"
            recordReact(id);
        } else {
            likeI.style.color = "blue"
            like.style.color = "blue"
            recordReact(id)
        }
    }
    function recordView(postId) {
        $.ajax({
            type: "GET",
            url: "/QA_Coordinator/Ideas/viewIdea/" + postId
        });
    }

    function recordReact(postId) {
        $.ajax({
            type: "GET",
            url: "/QA_Coordinator/Ideas/likeIdea/" + postId
        });
    }
</script>


<style>
    .show-more {
        /*   width: 690px;  */
        color: #777;
        position: relative;
        font-size: 15px;
        font-weight: 100;
        padding-top: 5px;
        height: 30px;
        text-align: center;
        background: #f1f1f1;
        cursor: pointer;
    }

    .btn-show:hover {
        color: #1779dd;
    }

    .show-more-height {
        height: 65px;
        overflow: hidden;
    }

</style>

<style>
    .show-more {
        /*   width: 690px;  */
        color: #777;
        position: relative;
        font-size: 15px;
        font-weight: 100;
        padding-top: 5px;
        height: 30px;
        text-align: center;
        background: #f1f1f1;
        cursor: pointer;
    }

    .btn-show:hover {
            color: #1779dd;
        }

    .show-more-height {
        height: 65px;
        overflow: hidden;
    }

</style>

<script>
    function showML(id) {
        var showM = document.getElementById("showM" + "-" + id);
        var showL = document.getElementById("showL" + "-" + id);
        if (showM.style.display == "block") {
            showL.style.display = "block";
            showM.style.display = "none";
        } else {
            showL.style.display = "none";
            showM.style.display = "block";
        }

    }

    function recordView(postId) {
        $.ajax({
            type: "GET",
            url: "/QA_Coordinator/Ideas/viewIdea/" + postId
        });
    }

    function recordReact(postId) {
        $.ajax({
            type: "GET",
            url: "/QA_Coordinator/Ideas/likeIdea/" + postId
        });
    }
</script>